   <!-- TITULO DA PAGINA-->
   <mat-toolbar  color="primary"> 
    <span class="example-spacer"></span>   
    <mat-icon>peoples</mat-icon>
      <span>Contatos</span>
   </mat-toolbar>  
<p>


    <mat-tab-group class="items">

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>list</mat-icon>
                Todos
            </ng-template> 
            <mat-card class="half-width">
                
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>Identificação</th>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Favorito</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of contatos ">

                            <td> 
                                <div *ngIf="cliente.foto">
                                    <img (click)="visualizarContato(cliente)"
                                    style="border-radius: 50px;"
                                    width="50"
                                    height="50"
                                    src="data:image/png;base64,{{cliente.foto}}" >
                                </div>
                                
                                <div *ngIf="!cliente.foto">
                                    <input type="file" name="foto"
                                    (change)="uploadFoto($event, cliente)"/> 
                                </div>
                            </td>

                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>
                                <a href="#" (click)="favoritar(cliente)">
                                <mat-icon [ngStyle]="{'color':'blue'}">{{cliente.favorito ? 'favorite' : 'favorite_border'}}</mat-icon>                                         
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--PAGINAÇÃO -->
                <mat-paginator [length]="totalElementos"
                        [pageSize]="tamanho"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="paginar($event)">
                </mat-paginator>     

            </mat-card>       
        </mat-tab>


        <mat-tab > 
            <ng-template mat-tab-label>
                <mat-icon>face</mat-icon>
                Contatos
             </ng-template>  
          <mat-card class="half-width">
          
              <mat-card-title>Cadastro de Contato:</mat-card-title>

            <form [formGroup]="formulario" (ngSubmit)="submit()">
    
                <!-- INPUT NOME-->
                <mat-form-field class="full-width">
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput placeholder="Ex. Lucas">
                  </mat-form-field>
                  <!--MENSAGENS DE ERRO DO NOME-->
                  <div *ngIf="formulario.controls.nome.errors && !formulario.controls.nome.pristine">
                        <div *ngIf="formulario.controls.nome.errors.required">
                            *Nome obrigátorio
                        </div>
                  </div>
            <p>
                <!--INPUT EMAIL-->
                <mat-form-field class="full-width">
                    <mat-label>E-mail</mat-label>
                    <input formControlName="email" matInput placeholder="Ex. lucas@gmail.com">
                  </mat-form-field>
            
                  <!--MENSAGENS DE ERRO DO EMAIL-->
                <div *ngIf="formulario.controls.email.errors && !formulario.controls.email.pristine">
                        <div *ngIf="formulario.controls.email.errors.required">
                            *E-mail obrigatório.
                        </div>
                        <div *ngIf="formulario.controls.email.errors.email">
                            *E-mail incorreto.
                        </div>
                </div>

                
            <p>    
                <!--BOTAO ADICIONAR-->
                <button  mat-raised-button color="primary">Adicionar</button>
            </form>
        </mat-card>
        </mat-tab>
        
  
      </mat-tab-group>


      <!--FOOTER-->
      <mat-toolbar class="footer">
        <span>       
            Developed by Aquiles Dias
            <i class="material-icons" [ngStyle]="{'color': 'blue'}">
                verified
            </i>
        </span>
       
    </mat-toolbar>

      


     


