   <mat-toolbar color="primary">  
      <span >Contatos</span>    
   </mat-toolbar>
<p>

<form >
    
    <!-- INPUT NOME-->
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. Lucas">
      </mat-form-field>
<p>
    <!--INPUT EMAIL-->
    <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ex. lucas@gmail.com">
      </mat-form-field>
<p>    
    <!--BOTAO ADICIONAR-->
    <button mat-raised-button color="primary">Adicionar</button>
</form>
